{{- if eq .chezmoi.os "darwin" -}}
tap "koekeishiya/homebrew-formulae" # ChunkWM
tap "twpayne/homebrew-taps"         # Chezmoi

brew "ack"
brew "chunkwm"
brew "consul"
brew "direnv"
brew "docker-credential-helper-ecr"
brew "eksctl"
brew "fzf"
brew "jq"
brew "neovim"
brew "prettier"
brew "ripgrep"
brew "tfenv"
brew "vault"
brew "wget"
brew "yaml2json"
brew "yarn"
brew "zplug"

mas "1Password", id: 1333542190

mas "Deliveries", id: 924726344
mas "Paprika", id: 1303222628
{{- end -}}
